/* card */
.shadow {
    padding: 20px; /* Menambah padding untuk ruang yang lebih baik */
    background-color: #f8f9fa; /* Warna latar belakang yang lebih terang */
    border-radius: 5px; /* Sudut yang lebih halus */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Bayangan halus untuk efek kedalaman */
}

.card-title {
    font-size: 1.5rem; /* Ukuran font yang lebih besar untuk judul */
    margin-bottom: 15px; /* Jarak bawah untuk pemisahan yang lebih baik */
    color: #343a40; /* Warna teks gelap */
}

h5.card-title {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}
